<!DOCTYPE html>

<html>

<head>
    <title>Project Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/root/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
	<script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}">
	</script>
	<script src="{{ url_for('static',filename='index.js') }}">
	</script> -->
</head>

<body>
    <h1 class='raleway'>This page is under development !</h1>
    <p class='raleway'>
        Homepage - <a href='http://arsh.xyz'>arsh.xyz</a><br><br>
        Projects currently live -
        <ol class='raleway'>
            <li>TicTacToe - <a href='/tictactoe'> /tictactoe </a></li>
        </ol>
    </p>

</body>

</html>
